
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: $font-size-base;
  font-family: $ff-main;
  color: $tertiary-font-color;
  background-color: $background-color;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  font-size: $font-size-xxl;
  color: $primary-font-color;
}

container {
  min-width: 100vw;
  min-height: 100vh;
}